* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* =================
     ====variables==== 
     =================*/
$colorSalmonFuerte: rgb(254, 200, 154);
$colorSalmonClaro: rgb(245, 222, 202);
$colorGrisOscuro: rgba(0, 0, 0, 0.342);
$face: #3b5999;
$insta: #e4405f;
$tiktok: #25f4ee, #fe2c55;
$whats: #47c856;
