@import "generales";
@import "header";
@import "footer";
@import "index";
@import "preguntasfrecuentes";
@import "contacto";

/* ==================
   ======media======
   ================== */
@media screen and (min-width: 500px) {
  .contenedorPf {
    height: 110vh;
  }
}

@media screen and (min-width: 992px) {
  .contenedorNovedades {
    display: flex;
  }
  .containerProducto {
    .botonCompra {
      transform: translateY(200%);
    }
    .botones {
      transform: translateX(300%);
    }
  }
  .containerProducto:hover .botones {
    transform: translateX(0);
    transition: 1s;
  }
  .containerProducto:hover .botonCompra {
    transform: translateY(0);
    transition: 1s;
  }
}
